/.out
/out
out
production
/production
/.idea
/2.Semester.iml
/.target
/target
/build
/.build
nbproject/
build/
build
manifest.*
nbbuild/
dist/
nbdist/
.nb-gradle/
build.xml
out/production/2.Semester/Acq/IUser.class
out/production/2.Semester/Domain/DomainController.class
out/production/2.Semester/Acq/IDomainFacade.class
out/production/2.Semester/Domain/TypeOfRelative.class
*.class
out/production/2.Semester/UI/FXMLMainPage.fxml
