/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-05-2018, 23:25:32
    Author     : ulriksandberg
*/


#rich-blue {
    -fx-background-color: #1e90ff;
       
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0,0,0,0;
    -fx-effect: dropshadow( gaussian, #33333399, 0,0,2,2);
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
#rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

#exit-button {
    
    -fx-background-color: #1e90ff;
       
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0,0,0,0;
    -fx-effect: dropshadow( gaussian, #33333399, 0,0,2,2);
    -fx-padding: 12 10 12 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.password-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.password-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-background-color: #d7d2d21c;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #1e90ff;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/  
.context-menu {
    -fx-background-color: -fx-my-menu-color; 
}

.radio-button .radio{
-fx-border-width     : 1px   ;
-fx-border-color     : #000  ;
-fx-background-color : white ;
-fx-background-image : null  ;
-fx-border-radius    : 15px  ;
-fx-height           : 15px  ; /* Not working */
height               : 5px   ; /* Not working */
}
.radio-button .radio:selected{
-fx-background-color : white ;

-fx-background-image : null  ;
}
.radio-button -radio:armed{
-fx-background-color : white ;
-fx-background-image : null  ;
}
.radio-button -radio:determinate{
-fx-background-color : white ;
-fx-background-image : null  ;
}
.radio-button -radio:indeterminate{
-fx-background-color : white ;
-fx-background-image : null  ;
}
